@import "../../App.scss";
.contact {
  height: 100%;
  max-width: 1366px;
  padding: 40px;
  display: flex;
  align-items: center;
  gap: 50px;
  margin: auto;

  @include mobile {
    width: 100%;
    padding: 10px;
    flex-direction: column;
  }

  .textContainer {
    flex:1;
    display: flex;
    flex-direction: column;
    gap: 80px;

    @include mobile {
      gap:20px;
      text-align: center;
      align-items: center;
      margin-top: 70px;
    }

    h1 {
      // font-family: "Zeyada", cursive;
      letter-spacing:4px;
      font-size: 95px;
      line-height: 80px;
      @include mobile {
        font-size: 70px;
      }
    }
    h2 {

      letter-spacing:2px;
    }
    
    span {
      font-size: 1.3rem;
      font-weight: 300;
    }
  }
  .formContainer {
    margin-bottom: 10px;
    flex:1;

    @include mobile {
      padding: 50px;
      width: 100%;
    }

    form {
      display: flex;
      flex-direction: column;
      gap:20px;

      input,textarea {
        padding:20px;
        background:transparent;
        border-radius:10px;
        color:white;
        border: 1px solid white;


      }
      button {
        padding:20px;
        border:none;
        background-color:orange;
        cursor:pointer;
        font-weight: 600;
                @include mobile {
          padding: 10px;
        }

      }
    }
  }
}