@use "../../App.scss" as app;
.thank-you-container  {
    position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(8px);
    transform: scale(1.05);
    z-index: -1;
  }


  h1 {
    color: #ffffff;
    font-size: 4rem;
    font-weight:900;
    letter-spacing: 0.5rem;
    
    @include app.mobile {
      font-size: 2.5rem;
      padding: 4px;
  }
}
}